.variants {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	align-items: center;
	grid-gap: 0px;
}


.v1,
.v2,
.v3,
.v4 {
	margin: 10px;
	background: #ff0000;
	border: 1px solid #e9b71e;
}

a {
	text-decoration: none;
}

img {
	width: 200px;
	height: 200px;
}
